.chat-messages-scroller {
  --message-left-width: 3rem;
  --chat-bubble-avatar-size: 2.25rem;
  --chat-bubble-reply-avatar-size: 1.5rem;
}

.chat-message {
  .chat-message-avatar .chat-user-avatar .chat-user-avatar__container .avatar,
  .chat-emoji-avatar .chat-emoji-avatar-container {
    width: var(--chat-bubble-avatar-size);
    height: var(--chat-bubble-avatar-size);
  }

  .chat-reply .chat-user-avatar .chat-user-avatar__container .avatar {
    width: var(--chat-bubble-reply-avatar-size);
    height: var(--chat-bubble-reply-avatar-size);
  }
}
